// _projects.scss

.project-bowndling {
  margin: 0 3.4rem 0 1rem;
}

.project-tsa {
  margin: 6rem 0 3.4rem 0;
}

.project-solace {
  margin: 3.4rem 6rem 0 6rem;
}

.project-converse-installation {
  margin: 3.4rem 0;
}

.project-beats {
  margin: 0 1.7rem;
}

.project-logo-gif {
  margin: 0 1.7rem;
}

.project-megumis {
  margin: 3.4rem 10rem 0 0;
}

.project-fader-gif {
  margin: 3.4rem 0 0 10rem;
}

.project-scents {
  margin: 10rem 1.7rem 0 1rem;
}

.project-br {
  margin: 3.4rem 0.5rem 0 1.7rem;
}

.project-sc {
  margin: 3.4rem 1.7rem 0 1.7rem;
}

.project-prints {
  margin: 3.4rem 1.7rem 0 1.7rem;
}

.project-sprite {
  margin: 3.4rem 15rem;
}

.project-signage {
  margin: 0 0 3.4rem 0;
}