// _projects.scss

.project-bowndling {
  margin: 0 3.4rem 0 1rem;
}

.project-tsa {
  margin: 6rem 0 3.4rem 0;
}

.project-solace {
  margin: 3.4rem 6rem 3.4rem 6rem;
}

.project-converse-installation {

}

.project-beats {

}

.project-logo-gifs {

}

.project-megumis {

}

.project-fader-gif {

}

.project-scents {

}

.project-br {

}

.project-sc {

}

.project-prints {

}

.project-sprite {

}

.project-signage {

}